<div class="product-page">
  <ul>
    <li (click)="goToBack()" class="navbar-email">
        <img src="../../../assets/icons/flechita.svg" alt="">
        Go back
    </li>
  </ul>

  <div class="detail" *ngIf="product">
    <div class="gallery">
      <swiper [slidesPerView]="1" [autoHeight]="true"
      [navigation]="true"
      [pagination]="{ clickable: true}"
      [scrollbar]="{ draggable: true }"
      [autoplay]="true">
        <ng-template swiperSlide *ngFor="let image of product?.images">
          <img [src]="image" [alt]="product.title">
        </ng-template>
      </swiper>
    </div>

    <div class="product-info">
      <h1 class="title">{{ product.title }}</h1>
      <p class="price">{{ product.price | currency }}</p>
      <p class="description">{{ product.description }}</p>

      <button (click)="onAddToShoppingCart()" class="primary-button  add-cart">
        <img src="../../../assets/icons/bt_add_to_cart.svg" alt="">
        Add to cart
      </button>
    </div>

  </div>
</div>
