*{
  font-family:'Quicksand', sans-serif;
}
.product-page {
  width: 90%;
  margin: 0 auto;

}

.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  > .gallery {
    overflow: hidden;
    border-radius: 14px;
    margin-bottom: 14px;
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }
  > .product-info {
    .title {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .price {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .description {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
}
ul{
  list-style: none;
}
.navbar-email{
  color: #C7C7C7;
  cursor: pointer;
  font-size: 14px;
  margin-right: 12px;
}
.navbar-email img{
  margin-left: 10px;
  margin-right: 10px;
  transform: rotate(-180deg);
}
.add-cart{
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-button{
  background-color: #0FFF50;
  border-radius: 20px;
  border: none;
  color: white;
  width: 50%;
  cursor: pointer;/*not mouse, a hand when pass the mouse in here*/
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  margin: 0 auto;
}

// MOBILE
@media screen and (max-width: 768px) {
  .detail {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
